<!DOCTYPE html>
{% load static %}
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
<body>

<nav class="navbar navbar-default navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li><a href="#" class="navbar-brand">Brand</a></li>
<li><a href="#" class="navbar-link">Admin</a></li>
<li><a href="#" class="navbar-link">Other</a></li>
</ul>
</div>
</nav>

<div class="container">
{% block body_block %}
{% endblock %}
</div>
</body>
</html>